body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    max-width: 400px;
    margin: 0 auto;
}

h1 {
    color: #333;
}

.input-container {
    display: flex;
    margin-top: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.delete-button {
    background-color: #ff6666;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
}

/* Define a CSS class for the error container */
.error-container {
    background-color: #f8d7da;
    /* Light red background color */
    color: #721c24;
    /* Dark red text color */
    padding: 10px;
    /* Add some padding to the container */
    border: 1px solid #f5c6cb;
    /* Add a border */
    border-radius: 5px;
    /* Rounded corners */
    margin-bottom: 10px;
    /* Add some margin at the bottom */
}